{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Confirm the flooding location
			</h1>
			</div>
			</div>
			
			<div class="grid-row">
			<div class="column-two-thirds">

							<p>Pinpoint your development accurately on the map to view the probability of it flooding.
								
								Move the marker <img src="/public/images/pin.png" width="20" height="20"> to the location of your development, then select 'Continue'.
								
								If it's already in the right place, select 'Continue'.</p>

							<p>	<a class="button button-start" href="flooding.html" role="button">Continue</a></p>
							<img src="/public/images/map.png" width="802" height="460" style="border: 1px solid grey;" alt="3:2">
						</legend>
			
											
			
				


      
    </div>
  </div>
</main>

{% endblock %}


