{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Do you want updates on the situation? 
			</h1>

			<form>
				<div class="form-group">
					<fieldset class="inline">
			
						<legend>
						
						</legend>
			
						<div class="multiple-choice">
							<input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
							<label for="radio-inline-1">Yes</label>
						</div>
						<div class="multiple-choice">
							<input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
							<label for="radio-inline-2">No</label>
						</div>
			
					</fieldset>
				</div>
			</form>
	
							<p>	<a class="button button-start" href="thanks.html" role="button">Continue</a></p>
										

						
			

      
    </div>
  </div>
</main>

{% endblock %}


